.login-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background: #23242a;
    font-family: 'Roboto Condensed', sans-serif;
}

.login-form {
    position: relative;
    width: 380px;
    height: 420px;

    border-radius: 8px;
    overflow: hidden; /* 테두리 바깥부분 자르기 */
    background: #45f3ff;
}

/* 테두리 회전 영역 만들기 */
.login-form::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;

    background: linear-gradient(0deg,transparent,#1c1c1c,#1c1c1c);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

/* 테두리 회전영역 양 사이드에서 회전 */
.login-form::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;

    background: linear-gradient(0deg,transparent,#1c1c1c,#1c1c1c);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-box {
    position: absolute;
    inset: 2px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    border-radius: 8px;
    background: #28292d;
}

@keyframes Logo-Rotate {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.login-input {
    position: relative;
    margin-top: 55px;
    width: 300px;
}

.login-input  input {
    position: relative;
    padding: 20px 10px 10px;
    width: 100%;
    z-index: 10;
    
    border: none;
    outline: none;
    background: transparent;
    font-size: 1em;
    color: #23242a;
    text-align: center; 
    letter-spacing: 0.05em;
}
.login-input span {
    position: absolute;
    left:10px;
    top:0;
    padding: 20px 0px 10px;

    font-size: 1em;
    color:#23242a;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.login-input input:valid ~ span,
.login-input input:focus ~ span {
    color: #45f3ff;
    transform: translateY(-34px);
    font-size: 0.75em;
}

.login-input i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;

    border-radius: 4px;
    background: #45f3ff;
    transition: 0.5s;
    pointer-events: none;
}

.login-input input:valid ~ i,
.login-input input:focus ~ i {
    height: 44px;
}

.login-submit {
    margin-top: 25px;
    padding: 11px 25px;
    width: 100%;
    
    border: none;
    outline: none;
    border-radius: 4px;
    background: #45f3ff;
    cursor: pointer;    
    font-size: 18px;
}

.login-submit:active {
    opacity: 0.8;
}
