.weather-title {
    margin: 0;
    font-family: 'Foldit', cursive, sans-serif;
    font-size: 3.5rem;
    color: rgba(69, 69, 69, 0.9);
}

.weather-container {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3rem;
    color: rgba(69, 69, 69, 0.9);
}

.weather-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#weather-icon img {
    width: 7rem;
    height: 7rem;
    background-size: cover;
}

.weather {
    width: 6rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}